@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Caramel&family=Noto+Sans+TC:wght@100;400;700&display=swap');  /* 連思源黑體 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Noto Sans TC',Arial, Helvetica,"黑體-繁","Heiti TC","微軟正黑體","Microsoft JhengHei", sans-serif;
    background: rgb(255, 220, 145);
}
.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

